# Build-Output
dist/
.astro/

# Dependencies
node_modules/

# Cloudflare / Wrangler
.wrangler/
.dev.vars

# Logs & OS
*.log
npm-debug.log*
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
